<html>
  <head>
    <title>html exercise</title>
  </head>
  <body>
    <h1>welcome to website</h1>
    <h2>welcome to website</h2>
    <h3>welcome to website</h3>
    <h4>welcome to website</h4>
    <h5>welcome to website</h5>
    <h6>welcome to website</h6>
    <p>w3 schools is a learning platform for all students and others who are intersted learn about computer courses </p>
    <img src="../assets/download.png">
    <a href="https://www.w3schools.com">Click the link </a>
  </body>
</html>




 <html>
  <head>
    <title>My First Webpage</title>
  </head>
  <body>
    <h1>WELCOME TO MY FIRST WEBPAGE</h1>
    <p>This is a simple Webpage created using HTML</p>
    <a href="https://www.google.com" target="_blank">Visit Google</a>
    <a href="https://www.wikipedia.org" target="_blank">Visit Wikipedia</a>
    <img src="..\assets\css download.png">
  </body>
 </html>